.Carousel{
    margin-top: 60px;
    margin-bottom: 10px;
    margin-right: 20px;
    
}
.container-fluid {
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
    height: 300px;
  }
  h4{
    text-align: left;
    color: white;
    margin-left: 40px;
  }

.card{
    width: 200px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #2d2d2d;
    
}
.carousel{
  margin-top: 50px;
  margin-bottom: 80px;
}
.card-body{
  border-radius: 6px ;
}